*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
background:#090909;
color:#fff;
overflow:hidden;
}

#loader{
position:fixed;
inset:0;
display:flex;
justify-content:center;
align-items:center;
background:#090909;
z-index:9999;
}

.logo{
text-align:center;
}

.logo img{
width:90px;
height:90px;
border-radius:50%;
margin-bottom:15px;
}

.logo h1{
font-size:28px;
color:#00ff88;
font-weight:700;
}

.logo p{
margin-top:10px;
color:#999;
}

#app{
display:flex;
flex-direction:column;
height:100vh;
}

header{
padding:15px;
background:#111;
border-bottom:1px solid #1f1f1f;
}

.top{
display:flex;
justify-content:space-between;
align-items:center;
}

.top h2{
color:#00ff88;
}

#notificationBtn{
background:#1b1b1b;
border:none;
color:white;
font-size:20px;
padding:10px;
border-radius:50%;
position:relative;
}

#notifyCount{
position:absolute;
top:-4px;
right:-4px;
background:red;
color:white;
font-size:10px;
padding:3px 6px;
border-radius:20px;
display:none;
}

.search{
margin-top:15px;
}

.search input{
width:100%;
padding:12px;
border-radius:12px;
border:none;
background:#1d1d1d;
color:white;
outline:none;
}

main{
flex:1;
overflow:auto;
padding:15px;
}

.page{
display:none;
}

.page.active{
display:block;
}

.match-card{
background:#161616;
border-radius:18px;
padding:15px;
margin-bottom:15px;
box-shadow:0 0 15px rgba(0,0,0,.3);
}

.match-header{
display:flex;
justify-content:space-between;
margin-bottom:10px;
font-size:13px;
color:#aaa;
}

.teams{
display:flex;
justify-content:space-between;
align-items:center;
}

.team{
display:flex;
flex-direction:column;
align-items:center;
width:40%;
}

.team img{
width:60px;
height:60px;
object-fit:contain;
}

.team span{
margin-top:8px;
font-size:13px;
text-align:center;
}

.score{
font-size:30px;
font-weight:700;
color:#00ff88;
}

.match-footer{
display:flex;
justify-content:space-between;
margin-top:15px;
}

.favorite-btn,
.notify-btn{
padding:8px 15px;
border:none;
border-radius:10px;
background:#00ff88;
color:black;
font-weight:600;
}

.favorite-btn.active{
background:#ffd400;
}

nav{
height:70px;
display:flex;
justify-content:space-around;
align-items:center;
background:#111;
border-top:1px solid #1f1f1f;
}

.nav{
background:none;
border:none;
color:#888;
display:flex;
flex-direction:column;
align-items:center;
font-size:11px;
}

.nav.active{
color:#00ff88;
}

.nav span{
margin-top:4px;
}

.profile{
display:flex;
flex-direction:column;
align-items:center;
margin-top:30px;
}

#avatar{
width:120px;
height:120px;
border-radius:50%;
background:#222;
display:flex;
align-items:center;
justify-content:center;
font-size:50px;
margin-bottom:20px;
}

button{
cursor:pointer;
transition:.3s;
}

button:hover{
transform:scale(1.05);
  }
