* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Arial, sans-serif;
  background: #0a0a0f;
  color: #fff;
  height: 100vh;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background: #00ff88;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #0a0a0f;
}
